<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>상세 페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body {
        margin-top: 20px;
      }
      .wrap {
        width: 1400px;
        margin: auto;
      }
      .player-list-title {
        margin-top: 20px;
      }
      .form-control {
        margin-bottom: 20px;
        width: 1400px;
      }
      .logo {
        margin-bottom: 30px;
      }
      .comment {
        margin-top: 20px;
      }
      .complete-button {
        margin-bottom: 20px;
      }
      .delete-button {
        margin-bottom: 10px;
      }
      .team-name {
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 20px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function () {
        showComment();
      });

      function uploadComment() {
        let comment = $("#floatingTextarea").val();

        $.ajax({
          type: "POST",
          url: "/api/comment",
          data: { comment_give: comment },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function deleteComment(comment) {
        $.ajax({
          type: "POST",
          url: "/api/comment/delete",
          data: { comment_give: comment },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function openList() {
        $("#players-list").attr("style", "display: '';");
      }

      function closeList() {
        $("#players-list").attr("style", "display: none;");
      }

      function showComment() {
        $.ajax({
          type: "GET",
          url: "/api/comment/list",
          data: {},
          success: function (response) {
            let comments = response["all_comments"];
            for (let i = 0; i < comments.length; i++) {
              let comment = comments[i]["comment"];

              let temp_html = `
                <tr>
                <td>${comment}</td>
                <td><input class="delete-button btn btn-primary" onclick="deleteComment('${comment}')" type="button" value="삭제"></td>
                </tr>`;
              $("#table-group").append(temp_html);
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <div class="wrap">
      {% for teamname in team_list %}
      <div class="logo">
        <h1 class="team-name">{{teamname}}</h1>
        <button class="home-button btn btn-primary" onclick="history.back()">
          홈으로
        </button>
      </div>
      {% endfor %}
      <h3 class="player-list-title">선수 명단</h3>
      <button onclick="openList()" id="open-list" class="btn btn-primary">
        펼치기
      </button>
      <button onclick="closeList()" id="close-list" class="btn btn-primary">
        접기
      </button>
      <div class="player-list">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">등번호</th>
              <th scope="col">이름</th>
            </tr>
          </thead>
          <tbody id="players-list">
            {% for number, player in zip(numbers, players) %}
            <tr>
              <th scope="row">{{number}}</th>
              <td>{{player}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="comment form-floating">
        <h1>응원 한 마디</h1>
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea"
        ></textarea>
      </div>
      <button
        type="submit"
        class="complete-button btn btn-primary"
        onclick="uploadComment()"
      >
        완료
      </button>
      <ul class="list-group"></ul>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">내용</th>
            <th scope="col">삭제</th>
          </tr>
        </thead>
        <tbody id="table-group"></tbody>
      </table>
    </div>
  </body>
</html>
