<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- Bulma Css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!-- 구글폰트 -->

    <title>Football Tonight</title>

    <!-- style -->
    <style type="text/css">
      .mainlogo {
        background-color: mediumpurple;
        width: 700px;
        height: 150px;
        display: inline-block;
        position: relative;
      }

      .mytitle {
        width: 1400px;
        margin: auto;
        margin-bottom: 20px;
      }

      .mainimage {
        background-color: green;
        width: 1400px;
        height: 400px;
        margin: auto;
        margin-bottom: 20px;
      }

      .team-list {
        width: 1400px;
        margin: auto;
      }

      .mybtn {
        display: inline-block;
        float: right;
        margin: 5px;
      }
      .eplimage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
    <script>
      $(document).ready(function () {
        myname();
      });
      function golike() {
        window.location.href = "/like";
      }
      //---------------즐겨찾기 저장, 해당팀의 로고src값과 팀명을 불러옴
      function save_like(teamlogo, teamname) {
        $.ajax({
          type: "POST",
          url: `/api/like`,
          data: {
            teamlogo_give: teamlogo,
            teamname_give: teamname,
          },
          success: function (response) {
            alert(response["msg"]);
          },
        });
      }
      //-------------닉네임 표시
      function myname() {
        $.ajax({
          type: "GET",
          url: `/api/nickname`,
          data: {},
          success: function (response) {
            //my_name값을 넘겨받아서 'nickname'값만 표시
            let nickname = response["my_name"][0]["nickname"];
            let temp_html = `<button class="button is-link is-inverted">${nickname}님 환영합니다!</button>`;

            $("#mynickname").append(temp_html);
          },
        });
      }

      function logout() {
        $.ajax({
          type: "GET",
          url: "/signout",
          data: {},
          success: function (response) {
            if (response["result"] == "success") {
              $.cookie("mytoken", response["token"], { path: "/" });
              window.location.replace("/login");
            } else {
              alert(response["msg"]);
            }
          },
        });
      }
    </script>
  </head>

  <body>
    <div class="mytitle">
      <div class="mainlogo" onclick="location.href='/'">풋볼투나잇로고</div>
      <div class="mybtn">
        <button class="button is-link is-inverted" id="mynickname"></button>
        <button class="button is-success is-outlined" onclick="golike()">
          즐겨찾기
        </button>
        <button class="button is-danger is-outlined" onclick="logout()">
          로그아웃
        </button>
      </div>
    </div>
    <div class="mainimage">
      <img
        class="eplimage"
        src="https://resources.premierleague.com/photos/2020/03/13/e6838799-4ef1-43cf-97d9-e3dfb743d067/Statement_Graphic_PL_Lilac.png?width=930&height=620"
      />
    </div>
    <table class="table team-list">
      <thead>
        <tr>
          <th>순위</th>
          <th>팀명</th>
          <th>경기수</th>
          <th>승리</th>
          <th>무승부</th>
          <th>패배</th>
          <th>즐겨찾기</th>
        </tr>
      </thead>
      <tbody id="team-list2">
        {% for team in result %}
        <tr>
          <td>{{ team[0] }}</td>
          <td>
            <img id="team-logo" src="{{ team[1] }}" /><a
              href="{{url_for('team_detail', detail_id=team[0])}}"
              id="team-name"
              >{{ team[2] }}</a
            >
          </td>
          <td>{{ team[3] }}</td>
          <td>{{ team[4] }}</td>
          <td>{{ team[5] }}</td>
          <td>{{ team[6] }}</td>
          <td>
            <button
              class="button is-warning"
              onclick="save_like('{{ team[1] }}', '{{ team[2] }}')"
              style="background-color: #38003d; color: white;"
            >
              즐찾
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
